.login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    width: 50%;
    
    margin-top: 80px;
    margin-bottom: 40px;
    

    /* border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; */

    background: rgb(255, 255, 255);
    padding: 30px 15px;
    /* margin-bottom: 30px; */

    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  }
  
  .example-container > * {
    width: 100%;
  }

  .button-row button,
  .button-row a {
    margin-right: 8px;
  }