.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-card {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    

    /* border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; */

    background: rgb(255, 255, 255);
    padding: 30px 15px;
    /* margin-bottom: 30px; */

    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  }

  ::ng-deep .mat-card-title.mat-card-title{
    /* margin: 0 8px; */
    font-weight: 800 !important;
    margin-bottom: 0px !important;
    font-size: 24px !important;
    line-height: 30px !important;
    letter-spacing: normal !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 800 !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

  /* Targets the input fields in signup form */
  ::ng-deep .mat-form-field-infix {
    width: 100% !important;
  }

  .mat-card-header-text {
    margin: 0 8px;
    margin-bottom: 20px;
}


  button.mat-raised-button.mat-primary {
    margin-top: 13px;
}


@media (max-width: 650px) {
  .mat-card[_ngcontent-c5] {
    width: 100%;
  }
}