.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-card {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
  }


  /* Targets the input fields in signup form */
  ::ng-deep .mat-form-field-infix {
    width: 100% !important;
  }


@media (max-width: 650px) {
  .mat-card[_ngcontent-c5] {
    width: 100%;
  }
}