<!-- .createTable("users", (table) => {
  table.increments();
  table.string("username").notNullable();
  table.string("profilePic").notNullable().defaultTo("https://s3.us-east-2.amazonaws.com/ig-clone2019/profilePic/profileplaceholder.png");
  table.string("email").notNullable();
  table.text("password").notNullable();
  table.text("phone_number").notNullable();
  table.timestamp('date_joined').defaultTo(knex.fn.now());
})
.createTable("address", (table) => {
  table.increments();
  table.string("street").notNullable();
  table.string("city").notNullable();
  table.string("state").notNullable();
  table.string("zipcode").notNullable();
  table.integer("userId").unsigned().references("id").inTable("users");
}) -->

<!-- 
<mat-card class="example-card" fxLayout="column" fxLayout.xs="column" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>SignUp</mat-card-title>
  </mat-card-header>

  <mat-card-content>


    <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">


      <table class="example-full-width" cellspacing="0">
        <tr fxLayout="row" fxLayout.xs="column">

       
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="First name" formControlName="firstName">
              <mat-error *ngIf="submitted && getFormControls.firstName.errors">
                  <mat-error *ngIf="getFormControls.firstName.errors.required">First Name is required</mat-error>
                  <mat-error *ngIf="getFormControls.firstName.errors.minlength">First Name must be at least 4 characters</mat-error>
                </mat-error>
            </mat-form-field>
          </td>


          <td >
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" formControlName="lastName">
              <mat-error *ngIf="submitted && getFormControls.lastName.errors">
                  <mat-error *ngIf="getFormControls.lastName.errors.required">Last Name is required</mat-error>
                  <mat-error *ngIf="getFormControls.lastName.errors.minlength">Last Name must be at least 4 characters</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr fxLayout="row" fxLayout.xs="column">
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="submitted && getFormControls.username.errors">
                  <mat-error *ngIf="getFormControls.username.errors.required">Username is required</mat-error>
                  <mat-error *ngIf="getFormControls.username.errors.minlength">Username must be at least 4 characters</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="submitted && getFormControls.password.errors">
                <mat-error *ngIf="getFormControls.email.errors.required">Email is required</mat-error>
                <mat-error *ngIf="getFormControls.email.errors.email">Email must be a valid email address</mat-error>                
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>



      <p>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="submitted && getFormControls.password.errors">
              <mat-error *ngIf="getFormControls.password.errors.required">Password is required</mat-error>
              <mat-error *ngIf="getFormControls.password.errors.minlength">Password must be at least 4 characters</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="submitted && getFormControls.confirmPassword.errors">
              <mat-error *ngIf="getFormControls.confirmPassword.errors.required">Password Confirmation is required</mat-error>
              <mat-error *ngIf="getFormControls.confirmPassword.errors.minlength">Password Confirmation must be at least 4 characters</mat-error>
              <mat-error *ngIf="getFormControls.confirmPassword.errors.MatchPassword">Password doesnt not match</mat-error>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Phone Number" formControlName="phone_number">
            <mat-error *ngIf="submitted && getFormControls.phone_number.errors">
                <mat-error *ngIf="getFormControls.phone_number.required">Phone Numberis required</mat-error>
                <mat-error *ngIf="getFormControls.phone_number.errors.minlength">Phone Number must be at least 10 characters</mat-error>
              </mat-error>
          </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address">
          <mat-error *ngIf="submitted && getFormControls.address.errors">
              <mat-error *ngIf="getFormControls.address.errors.required">Address is required</mat-error>
            </mat-error>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr fxLayout="row" fxLayout.xs="column">
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="submitted && getFormControls.city.errors">
                  <mat-error *ngIf="getFormControls.city.errors.required">City is required</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="State" formControlName="state">
              <mat-error *ngIf="submitted && getFormControls.state.errors">
                  <mat-error *ngIf="getFormControls.state.errors.required">State is required</mat-error>
                  <mat-error *ngIf="getFormControls.state.errors.minlength">State must be at least 2 characters</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Zip Code" formControlName="zipcode">
              <mat-error *ngIf="submitted && getFormControls.zipcode.errors">
                  <mat-error *ngIf="getFormControls.zipcode.errors.required">Zipcode is required</mat-error>
                  <mat-error *ngIf="getFormControls.zipcode.errors.minlength">Zipcode must be at least 5 characters</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <button type="submit" mat-raised-button color="primary">Submit</button>
    
    </form> -->


    <!-- Form -->
  <!-- </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-button>Submit</button>
  </mat-card-actions> -->
<!-- </mat-card>  -->


<!-- <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()"> -->

<form class="border w-50 d-flex flex-column mx-auto mt-5 p-5" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-row">


      <!-- username -->
      <div class="form-group col-md-6">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
        </div>
  
        <!-- email -->
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
    </div>

<!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>




    <!-- Phone Number  -->
    <div class="form-group">
        <label for="inputAddress2">Phone Number</label>
        <input type="tel" class="form-control" placeholder="Phone Number" formControlName="phone_number">
      </div>



  <!-- Address  -->
    <div class="form-group">
      <label for="inputAddress2">Address</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Address" formControlName="address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" placeholder="City" formControlName="city">
      </div>
      <div class="form-group col-md-2">
        <label>State</label>
        <input type="text" class="form-control" placeholder="State" formControlName="state">
      </div>
      <div class="form-group col-md-4">
        <label>Zip</label>
        <input type="text" class="form-control" placeholder="Zip Code" formControlName="zipcode">
      </div>
    </div>


  <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

